@model PlcDbData
@using LeSan.HlxPortal.Common
@using LeSan.HlxPortal.WebSite.DataEntity
@{ViewBag.Title = "设备实时监控";}
@{
    List<SiteDbData> allSites = RegularUpdateObjects<List<SiteDbData>>.DefaultObjectInstance;
    SiteDbData siteInfo = allSites.Where(x => x.SiteId == Model.SiteId).First();
}
<div class="itemTitle" style="background:url(/images/itemTitle2.jpg);"><b class="iTLText f14">设备实时监控 - <span>@siteInfo.Name</span></b></div>

<div class="moniDate">数据更新时间 : @Model.TimeStamp</div>

<div class="monitor">
    <div class="moniL">
        @if (Model.Ready == 1)  // 就绪
        {
            <div class="mLG"></div>
        }
        else
        {
            <div class="mLW"></div>
        }
        @if (Model.RadiationPosition == 1)  // 源位
        {
            <div class="mLG"></div>
        }
        else
        {
            <div class="mLW"></div>
        }
        @if (Model.Radiation == 1)  //射线
        {
            <div class="mLR"></div>
        }
        else
        {
            <div class="mLW"></div>
        }
    </div>
    <span id="resetres"></span>
    <div class="moniC">
        
        <input type="button" class="mRes" onclick="plcReset()">
        @if (Model.RadiationRoomStop == 1)
        {
            <div class="rState" style="margin:44px auto 0px auto;">急停</div>
        }
        else
        {
            <div class="gState" style="margin:44px auto 0px auto;">急停</div>
        }
    </div>
    <div class="moniR">
        @if (Model.MainRoomStop == 1)
        {
            <div class="rState" style="float:left;">急停</div>
        }
        else
        {
            <div class="gState" style="float:left;">急停</div>
        }
        @if(Model.Authorize == 1)
        {
            <div class="gState" style="float:right;">授权</div>    
        }
        else
        {
            <div class="rState" style="float:right;">授权</div>
        }
        @if(Model.CollectCmd == 1)
        {
            <div class="mMoni"></div>
        }
        else
        {
             // not showing the image
        }
    </div>
</div>
<div class="moniData">
    <ul>

        @DrawDataLabel("急停正常", Model.StopNormal , "异常", "正常", 1)
        @DrawDataLabel("快门关位置", Model.ShutterClosePosition, "是", "否", 0)
        @DrawDataLabel("开快门指令", Model.OpenShutterCmd, "是", "否", 1)
        @DrawDataLabel("源室门", Model.RadiationGate, "关", "否", 0)
        @DrawDataLabel("快门开位置", Model.ShutterOpenPosition , "是", "否", 1)
        @DrawDataLabel("采集指令", Model.CollectCmd , "是", "否", 1)
        @DrawDataLabel("控制柜门", Model.ControlGate, "关", "否", 0)
        @DrawDataLabel("开快门超时", Model.OpenShutterTimeout , "是", "否", 1)
        @DrawDataLabel("气压高", Model.PressureHigh , "是", "否", 1)
        @DrawDataLabel("源室急停", Model.RadiationRoomStop , "是", "否", 1)
        @DrawDataLabel("车辆跟随", Model.VehicleFollow , "是", "否", 1)
        @DrawDataLabel("快门故障", Model.ShutterFailure , "是", "否", 1)
        @DrawDataLabel("气压低", Model.PressureLow , "是", "否", 1)
        @DrawDataLabel("车辆逆行", Model.VehicleBack , "是", "否", 1)
        @DrawDataLabel("地感一二停车", Model.Loops12Stop , "是", "否", 1)
        @DrawDataLabel("地感二三停车", Model.Loops23Stop , "是", "否", 1)
        @DrawDataLabel("地感三四停车", Model.Loops34Stop , "是", "否", 1)
        @DrawDataLabel("授权", Model.Authorize , "是", "否", 0)
        @DrawDataLabel("主控室急停", Model.MainRoomStop , "是", "否", 1)
        @DrawDataLabel("手动/自动", Model.ManualAuto , "手动", "自动", 1)
        @DrawDataLabel("地感/光电", Model.LoopsPhotoelectric , "地感", "光电", 1)
        @DrawDataLabel("光电1", Model.Photoelectirc1 , "是", "否", 1)
        @DrawDataLabel("光电2", Model.Photoelectirc2 , "是", "否", 1)
        @DrawDataLabel("光电3", Model.Photoelectirc3 , "是", "否", 1)
        
    </ul>
</div>

@helper DrawDataLabel(string Name, byte data, string text1, string text0, byte redIf1)
{
    <li class="mDName">@Name</li>
    string className = "mDStateN"; // set default as green
    if ((data ^ redIf1) == 0)
    {
        // red
        className = "mDStateU";
    }
    if (data == 1)
    {
        <li class="@className">@text1</li>
    }
    else
    {
        <li class="@className">@text0</li>
    }
}

<script type="text/javascript">
    function plcReset()
    {
        $("#resetres").text("");
        $.ajax({
            url: "/api/PlcResetApi",
            dataType: "json",
            async: true,
            data: {
                siteId: "@Model.SiteId"
            },
            success: function (jsonData, textStatus, qXHR) {
                $("#resetres").text(jsonData);
            },
        });
    }
</script>