@model List<UserViewModel>
@using LeSan.HlxPortal.WebSite.Models
@using LeSan.HlxPortal.WebSite
@using Newtonsoft.Json
@{ViewBag.Title = "用户管理";}

<link rel="stylesheet" href="~/Content/kendo.common.min.css" />
<link rel="stylesheet" href="~/Content/kendo.silver.min.css" />
<link rel="stylesheet" href="~/Content/kendo.dataviz.min.css" />
<link rel="stylesheet" href="~/Content/kendo.dataviz.silver.min.css" />
<script src="~/Scripts/kendo.all.min.js"></script>


<div class="itemTitleL" style="background:url(@Url.Content("~/images/itemTitle5.jpg"));"><b class="iTLText f14">用户管理</b></div>
<div id="grid"></div>
&nbsp;&nbsp;<input type="button" class="addBtn" onclick="addUser()">
<script type="text/javascript">
    var allUsers = @Html.Raw(JsonConvert.SerializeObject(Model)) ;

    $("#grid").kendoGrid({
        dataSource: {
            data: allUsers,
            pageSize: 20
        },
        scrollable: {
            virtual: true
        },
        pageable: {
            info: true,
            numeric: true,
            previousNext: true
        },
        sortable: true,
        columns: [
            { field: "UserName", title: "用户名"},
            { field: "RoleType", title: "用户类别",
                template: function(dataItem) {
                    if (dataItem.RoleType == "@Consts.RoleAdmin"){
                        return "管理员";
                    }else if (dataItem.RoleType == "@Consts.RoleVip"){
                        return "白金用户";
                    }else{
                        return "普通用户";
                    }
                }
            },
            {
                field: "RegisterTime", title: "创建时间", template: function (dataItem) {
                    return kendo.toString(new Date(dataItem.RegisterTime), "yyyy-MM-dd HH:mm:ss");
                }
            },
            { field: "Comments", title: "备注" },
            { command:[ { name:"editUser", text: "查看/修改", click: editUser }, { name:"deleteUser", text: "删除", click: deleteUser }], title: "选择操作", width: "180px" }
        ]
    });

    function addUser(){
        window.location.href= "@Url.Action("AddUser","Admin")";
    }

    function editUser(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href= "@Url.Action("EditUser", "Admin")" + "/?uId=" +dataItem.Id;
    }

    function deleteUser(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        $.ajax({
            url: "@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "DeleteUserApi" })",
            dataType: "json",
            async: true,
            data: {
                userName: dataItem.UserName,
            },
            success: function (jsonData, textStatus, qXHR) {
                if (jsonData != "ok"){
                    return;
                }

                // delete success, delete user from raw data
                var deleted = $.grep(allUsers, function (d) { return d.Id == dataItem.Id; })[0];
                var index = allUsers.indexOf(deleted);
                allUsers.splice(index, 1);

                $('#grid').data('kendoGrid').dataSource.read();
                $('#grid').data('kendoGrid').refresh();
            },
        });
    }

</script>

