@model UserViewModel
@using LeSan.HlxPortal.WebSite.Models
@using LeSan.HlxPortal.WebSite.DataEntity
@{ViewBag.Title = "查看/修改用户";}

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<div class="itemTitleL" style="background:url(@Url.Content("~/images/itemTitle5.jpg"));"><b class="iTLText f14">用户管理 - 查看/修改用户</b></div>

@using (Html.BeginForm("EditUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <table class="infoTab" style="width:1002px;">
        <tbody>
            <tr>
                <td width="200" align="center" bgcolor="#efefef">用户名</td>
                <td width="790" bgcolor="#f7f7f7">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "infoInput", @readonly = "readonly" })
                </td>
            </tr>
            <tr>
                <td align="center" bgcolor="#efefef">用户类别</td>
                <td bgcolor="#efefef">
                    @Html.DropDownListFor(m => m.RoleType, new List<SelectListItem>()
                     {
                        new SelectListItem() { Text = "管理员", Value = Consts.RoleAdmin, Selected = Consts.RoleAdmin == Model.RoleType },
                        new SelectListItem() { Text = "白金用户", Value = Consts.RoleVip, Selected = Consts.RoleAdmin == Model.RoleType },
                        new SelectListItem() { Text = "普通用户", Value = Consts.RoleNormal, Selected = Consts.RoleAdmin == Model.RoleType }
                     }, new { @onchange = "onSelectRoleType()", @style = "width:150px;height:28px", @class = "infoInput" })
                </td>
            </tr>
            <tr>
                <td align="center" bgcolor="#efefef">创建时间</td>
                <td bgcolor="#efefef">
                    @Html.TextBoxFor(m => m.RegisterTime, new { @class = "infoInput", @readonly = "readonly" })
                </td>
            </tr>
            <tr>
                <td align="center" bgcolor="#efefef">备注</td>
                <td bgcolor="#efefef">
                    @Html.TextBoxFor(m => m.Comments, new { @class = "infoInput", @style = "width:98%" })
                </td>
            </tr>
            <tr>
                <td align="center" bgcolor="#efefef">查看权限</td>
                <td bgcolor="#f7f7f7">
                    <div class="allsel" style="border-bottom:1px solid #d5d5d5;"><input type="checkbox" id="selectall" onclick="checkAll()">&nbsp;&nbsp;&nbsp;&nbsp;全选 / 反选</div>
                    <div class="aSSel">
                        <ul id="sites">
                            @{ List<SiteDbData> allSites = RegularUpdateObjects<List<SiteDbData>>.DefaultObjectInstance; }
                            @foreach (var site in allSites)
                            {
                                if (Model.SiteList.Contains(site.SiteId.ToString()))
                                {
                                    // checked
                                    <li><input type="checkbox" name="SiteList" value="@site.SiteId" checked="">&nbsp;&nbsp;&nbsp;&nbsp;@site.Name</li>
                                }
                                else
                                {
                                    // unchecked
                                    <li><input type="checkbox" name="SiteList" value="@site.SiteId">&nbsp;&nbsp;&nbsp;&nbsp;@site.Name</li>
                                }
                                
                            }
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" bgcolor="#efefef" style="height:34px;"><input type="submit" value="" class="saveBtn">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="backBtn" onclick="window.location.href='/Admin/Index'"></td>
            </tr>
        </tbody>
    </table>
}

<script type="text/javascript">

    $(document).ready(function () {
        var selectedVal = $("#RoleType").val();
        if (selectedVal == "@Consts.RoleAdmin" || selectedVal == "@Consts.RoleVip") {
            onSelectRoleType();
        }
    });

    function onSelectRoleType() {
        var selectedVal = $("#RoleType").val();
        var allSites = $("#sites input");
        var disable = true;
        if (selectedVal == "@Consts.RoleAdmin" || selectedVal == "@Consts.RoleVip") {
            $("#selectall")[0].checked = true;
            checkAll();
            disable = true;
        } else {
            $("#selectall")[0].checked = false;
            checkAll();
            disable = false;
        }

        $("#selectall")[0].disabled = disable;
        for (var i = 0; i < allSites.length; i++) {
            allSites[i].disabled = disable;
        }
    }

    function checkAll() {
        var allSites = $("#sites input");
        var check = $("#selectall")[0].checked;

        for (var i = 0; i < allSites.length; i++) {
            allSites[i].checked = check;
        }
    }
</script>



