@model LeSan.HlxPortal.WebSite.Models.LoginViewModel
@{Layout = null;}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>华力兴设备监控系统</title>
    <link href="~/Content/layout.css" rel="stylesheet" type="text/css">
    @Scripts.Render("~/bundles/jquery")
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</head>

<body style="background:#032c4e url(/images/blackLine.png) repeat-x;padding-top:12px;">
    <div class="logBg">
        <div class="logSite">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "erorrTips f14" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "logInput", style = "background:url(/images/username.gif);" })
                    <br>
                    @Html.PasswordFor(m => m.Password, new { @class = "logInput", style = "background:url(/images/password.gif);" })
                    <br>
                    <input type="submit" class="logbtn" value="">
                }
            </section>
        </div>
    </div>
    <div class="footer">Copyright &copy; @DateTime.Now.Year BEIJING HUALIXING SCI-TECH Development Co., Ltd. All Rights Reserved.</div>
</body>
</html>