@model SiteDbData
@using LeSan.HlxPortal.WebSite.DataEntity

@{ViewBag.Title = "扫描图像记录";}

@Styles.Render("~/Content/kendo")
@Scripts.Render("~/bundles/kendo")

<div class="itemTitleL" style="background:url(@Url.Content("~/images/itemTitle4.jpg"));"><b class="iTLText f14">扫描图像记录 - <span>@Model.Name</span></b><span class="selDate">选择时间&nbsp;&nbsp;<input id="startDate" style="width: 120px" />&nbsp;&nbsp;-&nbsp;&nbsp;<input id="endDate" style="width: 120px" />&nbsp;&nbsp;<input id="queryBt" type="button" class="confirm" onclick="getCpfData()"></span></div>
<div id="grid"></div>

<script type="text/javascript">
    var startDt = $("#startDate").kendoDatePicker({
        value: new Date('2015-06-23'),
        //value: new Date(),
        max: new Date()
    }).data("kendoDatePicker");
    var endDt = $("#endDate").kendoDatePicker({
        value: new Date(),
        max: new Date()
    }).data("kendoDatePicker");

    var cpfData = [];

    setUpTable();
    getCpfData();

    function getCpfData() {
        $.ajax({
            url: "@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "CpfApi" })",
            dataType: "json",
            async: true,
            data: {
                siteId: "@Model.SiteId",
                startDate: startDt.value().toDateString(),
                endDate: endDt.value().toDateString()
            },
            success: function (jsonData, textStatus, qXHR) {
                cpfData = jsonData;
                loadTableData();
            },
        });
        }

        function loadTableData()
        {
            var dataSource = new kendo.data.DataSource({ data: cpfData, pageSize: 20 });
            dataSource.read();
            var grid = $('#grid').data("kendoGrid");
            grid.setDataSource(dataSource);
        }

        function setUpTable()
        {
            $("#grid").kendoGrid({
                dataSource: {
                    data: cpfData,
                    pageSize: 20
                },
                scrollable: {
                    virtual: true
                },
                pageable: {
                    info: true,
                    numeric: true,
                    previousNext: true
                },
                sortable: true,
                detailInit: detailInit,
                columns: [
                    {
                        field: "TimeStamp", title: "扫描时间", template: function (dataItem) {
                            return kendo.toString(new Date(dataItem.TimeStamp), "yyyy-MM-dd HH:mm");
                        }
                    },
                    { field: "DbData.PlateNumber", title: "车牌号码" },
                    { field: "DbData.VehicleType", title: "车辆类型" },
                    { field: "DbData.Goods", title: "货物" },
                    { field: "DbData.Comments", title: "结论" }
                ]
            });
        }

        function detailInit(e) {
            var rowData = $.grep(cpfData, function (d) { return d.TimeStamp == e.data.TimeStamp; });
            var detailDiv = $("<div/>").appendTo(e.detailCell);

            var images = createRowDetailData(rowData[0]);
            
            detailDiv.kendoGrid({
                dataSource: {
                    data: images,
                },
                scrollable: false,
                sortable: false,
                pageable: false,

                columns: [
                    { field: "img", title: "", template: '#= imageTemplate(img) #' }
                ]
            });

            // images are loaded, no need to load again
            if (rowData[0].Base64CpfImage != "") {
                return;
            }

            // images are not loaded, load images from server
            var grid = detailDiv.data("kendoGrid");
            getImage(grid, rowData[0].DbData.SN);
        }

        // load images from server and update raw data in cpfData
        function getImage(imageGrid, sn) {

            $.ajax({
                url: "@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "CpfImageApi" })",
                dataType: "json",
                async: true,
                data: {
                    siteId: "@Model.SiteId",
                    sn: sn
                },
                success: function (jsonData, textStatus, qXHR) {
                    // update data in cpfData
                    var cpfRow = $.grep(cpfData, function (d) { return d.DbData.SN == sn; })[0];
                    cpfRow.Base64CpfImage = jsonData.Base64CpfImage;
                    cpfRow.Base64LpnImage = jsonData.Base64LpnImage;
                    // reload image
                    reloadImage(cpfRow, imageGrid);
                },
            });
        }

        function reloadImage(data, imageGrid) {

            var images = createRowDetailData(data);
            var dataSource = new kendo.data.DataSource({ data: images });
            dataSource.read();
            imageGrid.setDataSource(dataSource);
        }

        function createRowDetailData(rowData)
        {
            var img1 = {}; img1.img = rowData.Base64CpfImage;
            var img2 = {}; img2.img = rowData.Base64LpnImage;

            var images = [];
            images.push(img1); images.push(img2);

            return images;
        }

        function imageTemplate(imageStr) {
            if (imageStr && imageStr != "") {
                return '<div style="overflow-x:scroll"> <img src="data:image/jpeg;base64,' + imageStr + '"/></div>';
            } else {
                return '<img src="' + '@Url.Content("~/images/loading.gif")' + '" />';
            }
        }

</script>
