@model LeSan.HlxPortal.WebSite.Models.RadiationViewModel
@{ViewBag.Title = "放射剂量";}

@Styles.Render("~/Content/kendo")
@Scripts.Render("~/bundles/kendo")

<div class="itemTitle" style="background:url(/images/itemTitle3.jpg);"><b class="iTLText f14">放射剂量情况 - <span>@Model.Site.Name</span></b></div>
<div class="hotSel">
    <ul>
        <li class="hSS"><a class="hK2">当前状态</a></li>
        <li><a class="hK1">历史数据</a></li>
    </ul>
</div>
<div class="hotSite" style="height:1400px">
    <div class="hotKind">
        @Html.Partial("LatestPartial")
    </div>
</div>
<div class="hotSite" style="display: none; height: 700px">
    <div class="hotKind">
        @Html.Partial("HistoryPartial")
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
	    $(".hotSel a").click(function(){
	      index=$(this).index('.hotSel a');
	      $('.hSS a').removeClass("hK2").addClass("hK1");
	      $('.hSS').removeClass();
	      $('.hotSel li:eq('+index+')').addClass("hSS");
	      $('.hotSel li:eq('+index+') a').removeClass("hK1").addClass("hK2");
	      $('.hotSite:visible').hide();
	      $('.hotSite:eq('+index+')').show();
	    });
    });
</script>    

